<div class="get-involved-list">
    <div class="get-involved-item">
        <img alt="text bubble" src="/assets/commentBubble.svg" />
        <p><strong> Delegating at Council </strong></p>
    </div>
    <div class="get-involved-item">
        <img alt="calendar icon" src="/assets/calendar.svg" />
        <p><strong> Events </strong></p>
    </div>
    <div class="get-involved-item">
        <img alt="calendar icon" src="/assets/file-lines.svg" />
        <p><strong> Policy Analysis </strong></p>
    </div>
    <div class="get-involved-item">
        <img alt="calendar icon" src="/assets/bullhorn.svg" />
        <p><strong> Campaigns </strong></p>
    </div>
    <div class="get-involved-item">
        <img alt="calendar icon" src="/assets/plus.svg" />
        <p><strong> And More </strong></p>
    </div>
</div>