@use 'variables.scss' as *;

.get-involved {
    grid-area: main / content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 1.25rem;
    padding-top: 1.25rem;
    padding: 0.5rem;

    section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        max-width: $readableContentMaxWidth;
    }
}

.get-involved-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
}

.get-involved-item {
    display: grid;
    grid-template-rows: 5rem auto;

    text-align: center;

    width: 11.25rem;
    img {
        grid-row: 1;
        width: 100%;
        height: 100%;
    }    

}