.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    padding-top: 20px;        
}

.article-list {
    flex-grow: 1;
    max-width: 1200px;
}

.article-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 0px;
    justify-content: center;
    padding: 8px;
    border-bottom: 1px solid rgba(0,0,0,0.1);

    img {                
        width: 300px;
        height: auto;
        background: rgba(0,0,0,0.04);
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 2;
    }
}