@import 'variables.scss';
@import 'theme.scss';
@import 'header.scss';
@import 'home.scss';
@import 'news.scss';

body {
    font-family: "Roboto Flex", sans-serif;
    background: #fff;    
}

main {
    max-width: 100vw;
    overflow-x: hidden;
}

.social-media-list {
    display: flex;
    gap: 16px;
    flex-direction: row;
    justify-content: flex-end;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 0 0 0 1px;

    
    list-style: none;

    padding-inline-start: 0;
    padding-left: 20px;

    .svg-icon {
        width: 16px;
        height: 16px;
        display: inline-block;
        fill: #000;
        padding-right: 5px;
        vertical-align: text-top;
    }
    .username {
        display: none;
    }
}

