---
title: Election Survey Results
layout: default
---
<h1>{{page.title}}</h1>
<section>    
    {% assign election = page.election %}
    {% assign riding = page.riding %}
    {% for candidate in site.data.elections[election][riding] %}
        <div class="flex flex-row items-center align-middle gap-2 mb-4">
            <h2>{{candidate["Candidate"] | downcase | capitalize_words}}</h2>
            <span>{{candidate["Political Party"]}}</span>
        </div>                
        {% assign i = 0 %}
        {% for question in site.data.elections[election].questions %}
            {% assign i = i | plus: 1 %}
            <div class="even:bg-gray-300 p-4">
                <h3>{{question.heading}}</h3>
                <div class="flex flex-row items-start justify-start gap-8">                
                    <div class="flex-[1]">                    
                        <div class="font-medium">{{question.content}}</div>
                    </div>
                    <div class="flex-[1]">
                        {% assign responseKey = "Response" | append: i %}
                        <p>{{candidate[responseKey]}}</p>
                    </div>
                </div>
            </div>                        
        {% endfor %}
    {% endfor %}    
</section>