---
layout: base-layout
---

<div class="news">
    <section class="article-list">    
        {%- assign news_data = site.news | sort: 'date' | reverse -%}
        {%- for post in news_data -%}
            {% assign postUrl = post.url | relative_url %}
            {% assign postExcerpt = post.excerpt | strip_html | truncatewords: 24 %}
            <div class="article-list-item">
                <img src="{{ post.banner }}" />
                <div class="article-list-item__content"> 
                    <a href="{{ postUrl }}"><h2>{{ post.title }}</h2></a>
                    <p>{{ postExcerpt }}</p>
                </div>
            </div>
        {%- endfor -%}
    </section>
</div>