---
layout: post
---

{%- if page['application-link'] -%}
    <a href="#apply" class="button button--dark-transparent-black">Apply now </a>
{%- endif -%}

{{ content }}

{%- if page['application-link'] -%}
<h2 id="apply">How to Apply</h2>
<p>
    For more information or to indicate interest, please complete our <a href="{{ page['application-link'] }}">online application form</a>. The form includes sections for your contact information and a message about your interest in the role. Submitting a resume is optional
</p>
{%- endif -%}
<p>
<b>Note:</b> This is a volunteer position and is not compensated.
</p>
<p>
Together, we can create a community where everyone feels safe and empowered to walk, cycle, and live freely.
</p>